{% extends 'myapp/index.html' %}
{% load static %}


{% block content %}
<div style="width: 100%; max-width: 400px; margin: 25px auto;">
    <h1>Create password</h1>
<form action="{% url 'confirm_password' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{email}}" placeholder="enter your email.." class="form-control">
    <input type="text"   name="OTP" placeholder="enter your OTP.." class="form-control"><br>
    <input type="password" name="n_password" placeholder="enter your new password.." class="form-control"><br>
    <input type="password" name="c_password" placeholder="enter your confirm password.." class="form-control"><br>
    <br>
    <input type="submit" value="submit" class="btn btn-primary">
</form>

{% if message %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endif %}
    

</div>
{% endblock content %}
    