{% extends 'myapp/index.html' %}
{% load static %}


{% block content %}
<div style="width: 100%; max-width: 400px; margin: 25px auto;">
    <h1>Forget password..</h1>
<form action="{% url 'forgot_password' %}" method="POST">
    {% csrf_token %}
    <input type="email" name="email" placeholder="enter your email.." class="form-control"><br>
    <br>
    <input type="submit" value="submit" class="btn btn-primary">
</form>

{% if message %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endif %}
    

</div>
{% endblock content %}
    